html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: michos;
  src: url('../styles/assets/fonts/ZH-CN.ttf');
}
@font-face {
  font-family: MiHoYo_SDK_JP_Web;
  src: url('../styles/assets/fonts/ZH-CN.ttf');
}