@import "responsive";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
body {
  overflow-x: hidden;
}

.slick-custom {
  .slick-dots li {
    margin: 0 10px;
    .slick-custom-dot {
      width: 25px;
      margin-top: 20px;
      height: 25px;
      position: relative;
      &::before {
        position: absolute;
        background-image: url("./assets/images/newsDes/Dot.png");
        width: 100%;
        height: 100%;
        content: "";
        background-size: 100%;
        left: 0;
      }
    }
    &.slick-active {
      .slick-custom-dot::before {
        background-image: url("./assets/images/newsDes/DotActive.png");
      }
    }
  }
}

#buttonAuth {
  cursor: pointer;
  background-image: url("./assets/images/Authen/Layer43.png");
  width: 318px;
  height: 72px;
  background-color: transparent;
  border: navajowhite;
  color: #fff;
  font-size: 27px;
  font-family: "Signika";
  text-transform: uppercase;
  @include Responsive(XS) {
    width: 220px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
  }
  @include Responsive(SM) {
    width: 243px;
    height: 55px;
    font-size: 17px;
  }
  @include Responsive(MD) {
    width: 318px;
    height: 72px;
    font-size: 20px;
  }
}
* {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
#tablePayment {
  width: 95%;
  margin: 0 auto;
  border-radius: 30px;
  min-height: 180px;
  overflow: hidden;

  td {
    height: 45px;
    background: #e4ddd2;
    border-bottom: 1px solid #f4ece0;
    border-left: 1px solid #f4ece0;
    &:first-child {
      border-left: none;
    }
  }
}

#buttonBuy {
  background: url("./assets/images/payment/ButtonPayment.png");
  width: 200px;
  height: 45px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Signika";
  font-size: 17px;
  margin-top: 15px;
}
#submitPassword {
  height: 40px;
  width: 119px;
  border: 2px solid #dab88f;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  background-color: #94674b;
  color: #fff;
}
#video {
  @include Responsive(XS) {
    width: 303px;
    height: 187px;
  }
  @include Responsive(SM) {
    width: 100%;
    height: 314px;
  }
  @include Responsive(MD) {
    width: 825px;
    height: 465px;
  }
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
// .fb_dialog_content > [data-testid="bubble_iframe"] {
//   transform: translateY(-20px) !important;
// }
// ._94ve {
//   bottom: 25px;
// }
.image-gallery-thumbnail {
  width: 190px !important;
  padding: 4px !important;
  border: 3px solid transparent !important;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 3px solid #a7a7a7c9 !important;

  border-radius: 5px;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border-radius: 5px;
    border: 3px solid #a7a7a7c9 !important;
  }
}

// .image-gallery-slide-wrapper.left,
// .image-gallery-slide-wrapper.right {
//   width: calc(100% - 60px) !important;
// }
// .image-gallery-thumbnails-wrapper.left,
// .image-gallery-thumbnails-wrapper.right {
//   width: 50px !important;
//   margin-right: 10px !important;
// }

.customRadio {
  padding-inline-start: 15px;
  li {
    list-style: none;
  }
  input[type="radio"] {
    border: 2px solid #b1bedc;
    padding: 0.5em;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
  }

  input[type="radio"]:checked {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXcAAAF3AQMAAABkDpm9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAsb7clNgwIQAAAAJ0Uk5TAP9bkSK1AAAAUElEQVR4nO3KsQ0AAAQAMP5/WcILBouknRsBcCZ7qXzf933f933f933f933f933f933f933f933f933f933f933f933f933f933f9399gBcGFsorIBmQ3RQAAAAASUVORK5CYII=)
      no-repeat center center;

    background-size: 14px 14px;
  }

  input[type="radio"]:focus {
    outline-color: transparent;
  }
  @media screen and (min-width: 760px) {
    padding-inline-start: 40px;
  }
}
.custom-img {
  border: 2px solid #7890c1 !important;
  padding: 5px !important;
}
.table-bill {
  width: 100%;
  margin-top: 15px;
  font-family: "Montserrat";
  border-spacing: 0;
  border-collapse: collapse;
  th,
  td {
    border: 2px solid #d4d4d4;
    padding: 10px;
    @media screen and (min-width: 0) {
      font-size: 12px;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
.textField111 input {
  width: 100%;

  padding: 12px 20px;

  margin: 8px 0;

  display: inline-block;

  border-radius: 4px;

  box-sizing: border-box;

  overflow: hidden;
}
